@model Magazzino.Models.ProductViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdProductM)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdProductM)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductNameM)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductNameM)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DetailsM)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DetailsM)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MoneyM)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MoneyM)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdSellersM)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdSellersM)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CalM)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CalM)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImgM)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImgM)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CategoryM)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CategoryM)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RowId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RowId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
