@model IEnumerable<Magazzino.Models.ProductViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdProductM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductNameM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DetailsM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoneyM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdSellersM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CalM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImgM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RowId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdProductM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductNameM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DetailsM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoneyM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdSellersM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CalM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImgM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RowId)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
